@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Opdatereret af Poul</h1>

        <h2 class="display-4">Lavet af Po.henriksen</h2>
        <h2 class="display-4">Endnu en tekst</h2>
        <h2 class="display-4">Endnu en rettelse</h2>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <p>Nu er det snart nok med alt det Git hub rod</p>
        
        <p> goto next page</p>
    </div>
